<!doctype html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tenders</title>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
  <link href="{% static 'index.css'%}" rel="stylesheet" type="text/css">
  <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>


</head>


<body>
  <div class="sticky-top">
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="{% static 'logos.png' %}" alt="..." width="60px"
             />
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 " style="color:#212529">Home</a></li>
            <li><a href="features" class="nav-link px-2 " style="color:#212529">Features</a></li>
            <li><a href="#" class="nav-link px-2 " style="color:#212529">Pricing</a></li>
            <li><a href="#" class="nav-link px-2"style="color:#212529">FAQs</a></li>
            <li><a href="#" class="nav-link px-2" style="color:#212529">About</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Have a question? Ask me" style="width : 366px;" 
              aria-label="Search">
          </form>

          <div class="text-end">
            
            <button type="button" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> Contact Us</button>
          </div>
        </div>
      </div>
    </header>

    <!--1. Location
2. Price
3.Rating
4. BSE,NSE
You7:28 PM
5.tunover
6.Deadline-->

    <div class="float">
      <div class="row justify-content-center">
        <div class="col-7">
          <button type="button" class="btn btn-outline-secondary"
            style="padding-left : 15px;padding-right : 15px">Places to be visited</button>
          <button type="button" class="btn btn-outline-secondary"
            style="padding-left : 15px;padding-right : 15px">Price</button>
          <button type="button" class="btn btn-outline-secondary"
            style="padding-left : 15px;padding-right : 15px">Rating</button>
          <button type="button" class="btn btn-outline-secondary"
            style="padding-left : 15px;padding-right : 15px">Listing</button>
          <button type="button" class="btn btn-outline-secondary"
            style="padding-left : 15px;padding-right : 15px">Turnover</button>
          <button type="button" class="btn btn-outline-secondary"
            style="padding-left : 15px;padding-right : 15px">Deadline</button>
          <button type="button" class="btn btn-primary" style="width: 150px" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            <ion-icon name="color-fill-outline"></ion-icon> Filter
          </button>
        </div>
      </div>
    </div>

    

  </div>

  <!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">

      <div class="modal-content p-3">
        <form id="sub">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Filter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="d-flex align-items-start m-3">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active m-2" id="v-pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                aria-selected="true">Location</button>
              <button class="nav-link m-2" id="v-pills-class-tab" data-bs-toggle="pill" data-bs-target="#v-pills-class"
                type="button" role="tab" aria-controls="v-pills-class" aria-selected="true">Classification</button>
              <button class="nav-link m-2" id="v-pills-Organisation-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-Organisation" type="button" role="tab" aria-controls="v-pills-Organisation"
                aria-selected="false">Organisation</button>

            </div>

            <div class="tab-content" id="v-pills-tabContent" style="margin-left : 20px;width: 559px;">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab" tabindex="0">
                <p class="lead">
                  Choose your location
                </p>
                <div class="row g-3">
                  <div class="col">
                    <div class="input-group mb-3">

                      <input type="text" class="form-control" placeholder="@ India" aria-label="Username"
                        aria-describedby="basic-addon1" disabled>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <select class="form-select" aria-label="Default select example" name="state">
                        <option selected>-select-</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Madhya pradesh">Madhya pradesh</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                      </select>
                    </div>
                    <p class="h5">
                      Popular States.
                    </p>
                    <button type="button" class="btn btn-outline-primary m-1" data-bs-toggle="button"
                      aria-pressed="true" onclick=save()>Maharastra</button><button type="button"
                      class="btn btn-outline-primary m-1" data-bs-toggle="button" aria-pressed="true">Rajasthan</button>
                    <button type="button" class="btn btn-outline-primary m-1" data-bs-toggle="button"
                      aria-pressed="true">Gujrat</button><button type="button" class="btn btn-outline-primary m-1"
                      data-bs-toggle="button" aria-pressed="true">West Bengal</button><button type="button"
                      class="btn btn-outline-primary m-1" data-bs-toggle="button" aria-pressed="true">M.P</button>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-class" role="tabpanel" aria-labelledby="v-pills-class-tab"
                tabindex="0">
                <p class="lead">
                  Tender Search By Classification
                </p>
                <div class="nav flex-row nav-pills me-3 mr-3" id="v-pills-tab" role="tablist"
                  aria-orientation="horizontal">

                  <button class="nav-link m-2" id="v-pills-disabled-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
                    aria-selected="false">Rating</button>
                  <button class="nav-link m-2" id="v-pills-messages-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                    aria-selected="false">Listing</button>

                  <button class="nav-link m-2" id="v-pills-settings-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                    aria-selected="false">Turnover</button>
                  <button class="nav-link m-2" id="v-pills-fixed-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                    aria-selected="false">Fixed</button>
                  <button class="nav-link m-2" id="v-pills-sale-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                    aria-selected="false">Sale</button>


                </div>


                <!------------------ Rating---------->
                <p class="lead mt-4">
                  Rating
                </p>

                <div class="list-group w-auto">
                  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <input class="form-check-input flex-shrink-0" type="radio" name="rating" id="listGroupRadios1"
                      value="default" checked="">
                    <div class="opacity-50" style="width: 200px; margin-right: 200px; margin-left:5px">
                      Default
                    </div>

                  </a>

                  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <input class="form-check-input flex-shrink-0" type="radio" name="rating" id="listGroupRadios1"
                      value="2">
                    <div style="width: 200px; margin-right: 200px; margin-left:5px">
                      Quality
                    </div>
                    <ion-icon name="star" style="color:#FFB801;font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#FFB801;font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#DBE3E6;font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#DBE3E6;font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#DBE3E6;font-size:25px"></ion-icon>


                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <input class="form-check-input flex-shrink-0" type="radio" name="rating" id="listGroupRadios1"
                      value="2.5">
                    <div class="opacity-50" style="width: 200px; margin-right: 192px; margin-left:5px">
                      Durability
                    </div>
                    <ion-icon name="star" style="color:#438FFD;font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#438FFD;font-size:25px"></ion-icon>
                    <ion-icon name="star-half" style="color:#438FFD;font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#DBE3E6;font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#DBE3E6;font-size:25px"></ion-icon>


                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <input class="form-check-input flex-shrink-0" type="radio" name="rating" id="listGroupRadios1"
                      value="4">
                    <div class="opacity-50" style="width: 200px; margin-right: 200px; margin-left:5px">
                      Cost
                    </div>
                    <ion-icon name="star" style="color:rgb(27, 144, 27);font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:rgb(27, 144, 27);font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:rgb(27, 144, 27);font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:rgb(27, 144, 27);font-size:25px"></ion-icon>
                    <ion-icon name="star" style="color:#DBE3E6;font-size:25px"></ion-icon>


                  </a>
                </div>

                <!------------------ Listing---------->

                <p class="lead mt-4">
                  Listing
                </p>
                <div class="list-group mx-0 w-auto">
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="BSE" checked="" name="listing">
                    <span>
                      BSE
                      <small class="d-block text-muted">Company Should be listed in Bombay Stock Exchange</small>
                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="NSE" name="listing">
                    <span>
                      NSE
                      <small class="d-block text-muted">Company Should be listed in National Stock Exchange</small>
                    </span>
                  </label>

                </div>


                <!------------------ Turnover---------->



                <p class="lead mt-4">
                  Turnover
                </p>
                <div class="list-group mx-0 w-auto">
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="default" checked="" name="Trange"
                      id="listGroupRadios1">
                    <span>
                      Default

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="50000" name="Trange"
                      id="listGroupRadios1">
                    <span>
                      Below 50,000

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="50000-80000" name="Trange"
                      id="listGroupRadios1">
                    <span>
                      50,000 - 80,000

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="80000-5000000" name="Trange"
                      id="listGroupRadios1">
                    <span>
                      80,000 - 50,00,000

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="5000000-100000000" name="Trange"
                      id="listGroupRadios1">
                    <span>
                      50,00,000 - 10 crore

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="100000000" name="Trange"
                      id="listGroupRadios1">
                    <span>
                      Above 10 crore

                    </span>
                  </label>
                </div>
                <!---------------------Fixed Rate-->
                <p class="lead mt-4">
                  Fixed Rate
                </p>
                <div class="list-group mx-0 w-auto">
                  <label class="list-group-item d-flex gap-2">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" name="fixed"
                        id="flexSwitchCheckChecked" checked>
                      <label class="form-check-label" for="flexSwitchCheckChecked">Tenders With fixed rate</label>
                    </div>
                  </label>
                </div>
                <!----------------------Sale-->
                <p class="lead mt-4">
                  Sale
                </p>
                <div class="list-group mx-0 w-auto">
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="default" checked name="sale"
                      id="sale">
                    <span>
                      Default

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="0-20" name="sale" id="sale">
                    <span>
                      0% - 20%

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="20-40" name="sale" id="sale">
                    <span>
                      20% - 40%

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="40-60" name="sale" id="sale">
                    <span>
                      40% - 60%

                    </span>
                  </label>
                  <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" value="60" name="sale" id="sale">
                    <span>
                      above 60%

                    </span>
                  </label>

                </div>
              </div>


              <div class="tab-pane fade" id="v-pills-Organisation" role="tabpanel"
                aria-labelledby="v-pills-Organisation-tab" tabindex="0">
                <p class="lead">
                  Tenders by Organisation
                </p>
                <p class="h6 mt-4">
                  Tenders Category
                </p>
                <select class="form-select" aria-label="Default select example" name="tenders_cat">
                  <option selected>-select-</option>
                  <option value="Good">Good</option>
                  <option value="Services">Services</option>
                  <option value="Works">Works</option>
                </select>
                <p class="h6 mt-2">
                  product Category
                </p>
                <select class="form-select" aria-label="Default select example" name="product_cat">
                  <option selected>-select-</option>
                  <option value="1">Air Conditioner</option>
                  <option value="2">Computer-Software</option>
                  <option value="3">Cabels and Wires</option>
                  <option value="4">furniture</option>
                  <option value="5">Food Products</option>
                  <option value="6">House Keeping</option>
                  <option value="7">Power energy</option>
                  <option value="8">Security Systems</option>
                </select>
                <p class="h6 mt-2">
                  Tender Expire
                </p>
                <select class="form-select" aria-label="Default select example" name="Deadline">
                  <option selected>-select-</option>
                  <option value="Today">Closing Today</option>
                  <option value="Tomorrow">Closing Tomorrow</option>
                  <option value="7">Closing within 7 days</option>
                  <option value="15">Closing within 15 days</option>
                  <option value="30">Closing within 30 days</option>
                  <option value="60">Closing within 60 days</option>
                  <option value="60+">Closing greater than 60 days</option>
                </select>

              </div>
            </div>

          </div>


          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              style="border-radius: 5px;">Close</button>

            <button type="submit" class="btn btn-outline-success" style="border-radius: 5px;" id="submit"
              value="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-funnel-fill" viewBox="0 0 16 16">
                <path
                  d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
              </svg> Apply Filter</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="container-sm">
    <div id="cards">
    </div>

  </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.10.0/firebase-database.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js';
    import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-database.js";



    const firebaseConfig = {
      apiKey: "AIzaSyDuIeybdRLhoBqIg3OaypzzUNFMbnrlq9o",
      authDomain: "hackme-42c99.firebaseapp.com",
      databaseURL: "https://hackme-42c99-default-rtdb.firebaseio.com",
      projectId: "hackme-42c99",
      storageBucket: "hackme-42c99.appspot.com",
      messagingSenderId: "599101401140",
      appId: "1:599101401140:web:ac6a3bfa21b1c06ce8c261",
      measurementId: "G-7450JVPVVG"
    };


    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    let data;
    const starCountRef = ref(database, 'Tender');
    onValue(starCountRef, (snapshot) => {
      data = snapshot.val();
      creat_card(data)

    });

    const btn = document.querySelector('#submit');
    const form = document.querySelector('#sub');
    let ans;

    function modal() {
      const myModal = document.getElementById('myModal')
      const myInput = document.getElementById('myInput')

      myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
      })
    }

    function getData(form) {
      var formData = new FormData(form);

      for (var pair of formData.entries()) {
        console.log(pair[0] + ": " + pair[1]);
      }

      ans = Object.fromEntries(formData);

      sorting(data, ans);

    }

    document.getElementById("sub").addEventListener("submit", function (event) {
      event.preventDefault();
      getData(event.target);

    });

    function sorting(data, ans) {
      const s = []
      let rate;
      if (ans['fixed'] == undefined) {
        rate = "off";
      }
      else {
        rate = "on";
      }
      for (var i = 0; i < data.length; i++) {


        if ((data[i]['Location'] == ans['state'] + ", India" & ans['state'] != "-select-") & (data[i]['rating'] == ans['rating'] & ans['rating'] != 'default') & (data[i]['listing'] == ans['listing']) & (data[i]['Trange'] == ans['Trange'] & ans['Trange'] != 'default') & ((data[i]['Fixed Rate'].toLowerCase()) == rate)) {
          s.push(data[i])
          console.log("a")
        }
        else if ((ans['state'] == "-select-") & (data[i]['rating'] == ans['rating'] & ans['rating'] != 'default') & (data[i]['listing'] == ans['listing']) & (data[i]['Trange'] == ans['Trange'] & ans['Trange'] != 'default') & ((data[i]['Fixed Rate'].toLowerCase()) == rate)) {
          s.push(data[i])
          console.log("b")
        }
        else if ((data[i]['Location'] == ans['state'] + ", India" & ans['state'] != "-select-") & (ans['rating'] == 'default') & (data[i]['listing'] == ans['listing']) & (data[i]['Trange'] == ans['Trange'] & ans['Trange'] != 'default') & ((data[i]['Fixed Rate'].toLowerCase()) == rate)) {
          s.push(data[i])
          console.log("c")
        }
        else if ((data[i]['Location'] == ans['state'] + ", India" & ans['state'] != "-select-") & (data[i]['rating'] == ans['rating'] & ans['rating'] != 'default') & (data[i]['listing'] == ans['listing']) & (ans['Trange'] == 'default') & ((data[i]['Fixed Rate'].toLowerCase()) == "off")) {
          s.push(data[i])
          console.log("d")
        }
        else if ((data[i]['Location'] == ans['state'] + ", India" & ans['state'] != "-select-") & (ans['rating'] == 'default') & (ans['Trange'] == 'default')) {
          s.push(data[i])
          console.log("e")
        }
        else if ((data[i]['rating'] == ans['rating'] & ans['rating'] != 'default') & (ans['state'] == "-select-") & (ans['Trange'] == 'default')) {
          s.push(data[i])
          console.log("f")
        }
        else if ((data[i]['Trange'] == ans['Trange'] & ans['Trange'] != 'default') & (data[i]['listing'] == ans['listing']) & (ans['rating'] == 'default')) {
          s.push(data[i])
          console.log("g")
        }
        else if (((data[i]['Fixed Rate'].toLowerCase()) == rate) & (ans['state'] == "-select-") & (ans['rating'] == 'default') & (ans['Trange'] == 'default')) {
          s.push(data[i])
          console.log("h")
        }
        else if ((data[i]['Location'] == ans['state'] + ", India" & ans['state'] != "-select-") & (data[i]['rating'] == ans['rating'] & ans['rating'] != 'default') & (ans['Trange'] == 'default')) {
          s.push(data[i])
          console.log("i")
        }
        else if ((data[i]['Location'] == ans['state'] + ", India" & ans['state'] != "-select-") & (data[i]['rating'] == ans['rating'] & ans['rating'] != 'default') & (data[i]['listing'] == ans['listing']) & (ans['Trange'] == 'default')) {
          s.push(data[i])
          console.log("j")
        }
        else if ((data[i]['Location'] == ans['state'] + ", India" & ans['state'] != "-select-") & (data[i]['rating'] == ans['rating'] & ans['rating'] != 'default') & (data[i]['listing'] == ans['listing']) & (data[i]['Trange'] == ans['Trange'] & ans['Trange'] != 'default')) {
          s.push(data[i])
          console.log("k")
        }

      }
      var table = document.getElementById("cards");
      table.innerHTML = "";
      let rating_max = 0;
      let price_min = 99999;
      let key1, key2;
      for (var i = 0; i < s.length; i++) {
        if (s[i]['Price'] < price_min) {
          key1 = s[i]['key'];
          price_min = s[i]['Price'];
        }
        if (s[i]['rating'] > rating_max) {
          key2 = s[i]['key'];
          rating_max = s[i]['rating'];
        }
      }
      console.log(rating_max,price_min);
      let l = [];
      if (data[key1]['Price'] >= data[key2]['Price'] & data[key1]['rating'] <= data[key2]['rating']) {
        l.push(data[key2])
      }
      else if (data[key1]['Price'] <= data[key2]['Price'] & data[key1]['rating'] >= data[key2]['rating']) {
        l.push(data[key1])
      }
      else if (data[key1]['Price'] <= data[key2]['Price'] & data[key1]['rating'] <= data[key2]['rating']) {
        l.push(data[key2])
      }
      else if (data[key1]['Price'] >= data[key2]['Price'] & data[key1]['rating'] >= data[key2]['rating']) {
        l.push(data[key1])
      }

      console.log(l);
      console.log(s);
      creat_card(l);
    }

  </script>

  <script>

    function creat_card(data) {
      var table = document.getElementById("cards");

      console.log(data);
      var card;
      for (var i = 0; i < data.length; i++) {
        var randomImage = new Array();

        //insert the URL of images in array  
        randomImage[0] = "https://source.unsplash.com/200x200/?company,office";
        randomImage[1] = "https://source.unsplash.com/200x200/?company,tenders";
        randomImage[2] = "https://source.unsplash.com/200x200/?company,building";
        randomImage[3] = "https://source.unsplash.com/200x200/?office,furniture";
        randomImage[4] = "https://source.unsplash.com/200x200/?logo,furniture";
        randomImage[5] = "https://source.unsplash.com/200x200/?college";
        //generate a number and provide to the image to generate randomly  
        var number = Math.floor(Math.random() * randomImage.length);

        var f = String(i);
        console.log(typeof (i));
        card = `
        <div class="card mb-3" style="max-width: 750px;" id="tr">
          <a href="#" class="list-group-item list-group-item-action">
            <div class="row g-0">
              <div class="col-md-3">
                  <img src="${randomImage[number]}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-6">
                <div class="row g-0">
                  <div class="card-body" style="padding : 16px">
                    <div><h5 class="card-title">${"TN - " + data[i].key}</h5>
                    <p class="card-text"><small class="text-muted"><ion-icon name="location-outline"></ion-icon>${data[i]['Location']}</small></p>
                    <p class="card-text">${data[i].Title.slice(0, 100) + "..."}</p>
                    <span class="badge text-bg-success">${data[i]['Like']}% 😀</span>&nbsp;<span class="badge text-bg-danger">${data[i]['Dislike']}% 😒</span></div>
                  </div>
              </div>
              
            </div>
              <div class="col-md-3">
                <div class="Row">
                  <div class="card-body" style="padding : 12px">
                    <div><h5 class="card-title">INR ${data[i]['Price'].toFixed(2).replace(/(\d)(?=(\d{2})+\d\.)/g, '$1,')}</h5></div>
                  </div>
                </div>
                <div class="Row">
                  <div class="card-body" >
                    <button type="button" class="btn btn-warning" style="font-size: 12.5px">Deadline: ${data[i]['Deadline']}</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </a>
      </div>
        `
        table.innerHTML += card
      }

      document.getElementById('tr').addEventListener("click",change);
      function change(){
        window.location.replace('test');
      }

    }

  </script>
  {% block javascript %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

  {% endblock javascript %}
</body>

</html>