


<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <link href="{% static 'test_style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <table class="tab1">
        <link rel="stylesheet" href="test_style.css">
    
        <caption>Tender Details: </caption>
        <thead>
            <tr>
                <th width="300px">Basic Details</th>
                <th width="650px"></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Organisation Chain</b></td>
                <td>Bharat Sanchar Nigam Limited (Govt of India Enterprise)||Maharashtra Telecom Circle||CE (E) Mumbai||EE ( E ) Mumbai</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Tender Reference Number</b></td>
                <td>NIT No 34/EEE/BSNL/ED/MI/2022-23</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Tender ID</b></td>
                <td>2022_BSNL_131441_1</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Tender Type</b></td>
                <td>Open Tender</td>
                <td><b>Form Of Contract</b></td>
                <td>Item Rate</td>
                <td></td>
            </tr>
    
            <tr>
                <td><b>Tender Category</b></td>
                <td>Works</td>
                <td><b>No. of Covers</b></td>
                <td>2</td>
                <td></td>
            </tr>
    
            <tr>
                <td><b>Payment Mode</b></td>
                <td>Online</td>
                <td><b>Allow Two Stage Bidding</b></td>
                <td>No</td>
                <td></td>
            </tr>
    
            <tr>
                <td><b>General Technical Evaluation Allowed	</b></td>
                <td>No</td>
                <td><b>Is Multi Currency Allowed For BOQ</b></td>
                <td>No</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
    
        
            <div class="container">
                <div class="row">
                  <div class="col">
                    <table class="tab2">
     
                        <thead>
                            <tr>
                                <th width="300px">Payement Instructions</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tr>
                            <td><b>Sr. no</b></td>
                            <td><b>Instrument Type</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <tr>
                            <td> 1. </td>
                            <td>Demand Draft</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <tr>
                            <td> 2. </td>
                            <td>Banker's Cheque</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <tr>
                            <td> 3. </td>
                            <td>Bank Guarantee</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <tr>
                            <td> 4. </td>
                            <td>NEFT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <tr>
                            <td> 5. </td>
                            <td>NEFT</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <thead>
                            <tr>
                                <th width="300px">Tender Document</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tr>
                            <td><b>Tender Document</b></td>
                            <td><a href="https://www.w3schools.com/">Click here</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <thead>
                            <tr>
                                <th width="300px">Key Values *</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tr>
                            <td><b>Estimated Cost</b></td>
                            <td>INR 19.90 Lacs </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <tr>
                            <td><b>EMD</b></td>
                            <td>INR 40.00 Thousand</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <thead>
                            <tr>
                                <th width="300px">Key Dates *</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tr>
                            <td><b>Last Date for Submission</b></td>
                            <td>28-10-2022</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <tr>
                            <td><b>Opening Date</b></td>
                            <td>31-10-2022</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <thead>
                            <tr>
                                <th width="300px">Site Location</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tr>
                            <td><b>Location 1</b></td>
                            <td>Madhya Pradesh, India</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                
                        <thead>
                            <tr>
                                <th width="300px">Contact Information</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                
                        <tr>
                            <td><b>Contact Information</b></td>
                            <td><a href="https://www.w3schools.com/">Click here</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                  </div>
                  <div class="col">
                   <div style background-color:red;width : 50px;height : 100px ></div> 
                  </div>
                </div>
            </div>
            
        
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>